.switchers {
  display: flex;
  width: 100%;
  .switchers__item {
    width: 50%;
    padding: 10px;
  }
}

.table {
  .table__header {
    text-align: center;
    padding: 10px;
  }
  .table__body {
    display: flex;
    text-align: center;
  }
  .table__item {
    width: 33%;
  }
}
